<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,th{
       border: none;

       border-collapse: collapse;
       color: blue;
       height: 10vh;
       width: 50vw;
        }
        *{background-color: black;

        }
    </style>
</head>
<body>
    
    
    <table>
        <tr>
            <th style="background-color: red;color: wheat;">vignesh</th>
            <th style="background-color: blue; color: black;">vignesh</th>
            <th style="background-color: pink; color: green;">vignesh</th>
            <th style="background-color: green;">vignesh</th>
            <th style="background-color: blue; color: black;">vignesh</th>
        </tr>
        <tr>
            <th style="background-color: aqua; color: black;">mahesh</th>
            <th style="background-color: greenyellow; color: red;">mahesh</th>
            <th style="background-color: azure; color: aqua;" >mahesh</th>
            <th style="background-color: red; color: yellow;">mahesh</th>
            <th style="background-color: azure; color: aqua;" >mahesh</th>
        </tr>
        <tr>
            <th style="background-color: yellow;">goutham</th>
            <th style="background-color: brown; color: black;">goutham</th>
            <th style="background-color: green; color: white;">goutham</th>
            <th style="background-color: aqua;">goutham</th>
            <th style="background-color: yellow;">goutham</th>
        </tr>
        <tr>
            <th style="background-color: red; color: white;">sampath</th>
            <th style=" background-color: aqua; color: black;">sampath</th>
            <th style="background-color: white; color: brown;">sampath</th>
            <th style="background-color: yellow;">sampath</th>
            <th style=" background-color: aqua; color: black;">sampath</th>
        </tr>
        <tr>
        <th style="background-color: red;color: wheat;">chandu</th>
        <th style="background-color: blue; color: black;">chandu</th>
        <th style="background-color: pink; color: green;">chandu</th>
        <th style="background-color: green;">chandu</th>
        <th style="background-color: blue; color: black;">chandu</th>
        </tr>
    </table>
</body>
</html>
